In [51]:
import numpy as np
import pandas as pd
import re

In [52]:
data = pd.read_csv('/content/preprocessed_fin.csv')
data.head()

   Unnamed: 0  ... dialect
0           0  ...     msa
1           1  ...     msa
2           2  ...     msa
3           3  ...    gulf
4           4  ...     msa

[5 rows x 5 columns]

In [53]:
sentiment_values = pd.read_csv('/content/arabic-sentiment-lexicons.csv')
sentiment_values.head()

   Unnamed: 0 Arabic Term  ...  Buckwalter index  Sentiment Score
0           0      خفيييف  ...            xfyyyf            0.988
1           1         حظظ  ...               HZZ           -2.509
2           2     موقادره  ...           mwqAdrh           -1.497
3           3        زفرة  ...              zfrp           -2.057
4           4        شاهي  ...              $Ahy           -0.170

[5 rows x 6 columns]

In [56]:
tweets = data['tweet'].tolist()
terms = sentiment_values['Arabic Term'].tolist() 
negative_counts = sentiment_values['Negative Count'].tolist()
positive_counts = sentiment_values['Positive Count'].tolist()
sentiment_scores = sentiment_values['Sentiment Score'].tolist()

In [58]:
pos_count_values = []
neg_count_values = []
sen_values = []

for tweet in tweets:
    if type(tweet) == str:
        pos_count, neg_count = 0,0
        sen_score = 0.0
        i = 0
        for word in tweet.split():
            if word in terms:
                i = terms.index(word)
                pos_count += positive_counts[i]
                neg_count += negative_counts[i]
                sen_score += sentiment_scores[i]
        pos_count_values.append(pos_count)
        neg_count_values.append(neg_count)
        sen_values.append(sen_score)
    else:
        pos_count_values.append(0)
        neg_count_values.append(0)
        sen_values.append(0)


data['total_pos_count'] = pos_count_values
data['total_neg_count'] = neg_count_values
data['total_sentiment_score'] = sen_values

In [59]:
data.head(20)

    Unnamed: 0  ... total_sentiment_score
0            0  ...                 0.033
1            1  ...                 0.568
2            2  ...                 0.000
3            3  ...                 2.279
4            4  ...                 0.128
5            5  ...                -0.098
6            6  ...                 3.075
7            7  ...                 0.000
8            8  ...                 0.169
9            9  ...                -1.054
10          10  ...                 4.202
11          11  ...                -1.408
12          12  ...                 0.110
13          13  ...                -0.626
14          14  ...                 0.238
15          15  ...                 0.998
16          16  ...                -0.391
17          17  ...                 3.148
18          18  ...                -0.310
19          19  ...                -3.407

[20 rows x 8 columns]

In [62]:
data.to_csv('/content/sentiment_score.csv')