In [1]:
import numpy as np
import pandas as pd
import re

In [3]:
data = pd.read_csv('../dataset/main/training_data.csv')
data.head()

,tweet,sarcasm,sentiment,dialect
0,"""Ø¯. #Ù…Ø­Ù…ÙˆØ¯_Ø§Ù„Ø¹Ù„Ø§ÙŠÙ„ÙŠ:Ø£Ø±Ù‰ Ø£Ù† Ø§Ù„ÙØ±ÙŠÙ‚ #Ø£Ø­Ù…Ø¯_Ø´ÙÙŠÙ‚ Ø±...",False,NEU,msa
1,"""Ù…Ø¹ ÙÙŠØ¯Ø±Ø± ÙŠØ§ Ø¢Ø¬Ø§ ÙˆØ§Ù„ÙƒØ¨Ø§Ø± ğŸ˜ https://t.co/hrBeHb...",False,NEU,msa
2,â€œØ§Ù„Ø¯Ø§Ø¹ÙˆÙ† Ù„Ù…Ø¨Ø¯Ø£ Ø§Ù„Ø§Ø®ØªÙ„Ø§Ø· Ø¨ÙŠÙ† Ø§Ù„Ø¬Ù†Ø³ÙŠÙ†Ø› ÙƒØ§Ù„Ø¯Ø§Ø¹ÙŠÙ† ...,True,NEG,msa
3,"""@ihe_94 @ya78m @amooo5 @badiajnikhar @Oukasaf...",True,NEG,gulf
4,"""Ù‚Ù„ Ø´Ø±Ù‚ Ø­Ù„Ø¨ ÙˆÙ„Ø§ ØªÙ‚Ù„ Ø­Ù„Ø¨ Ø§Ù„Ø´Ø±Ù‚ÙŠØ© ....ÙˆÙ‚Ù„ ØºØ±Ø¨ Ø­Ù„...",False,NEU,msa

In [4]:
sentiment_values = pd.read_csv('../dataset/lexicon dictionary/arabic-sentiment-lexicons.csv')
sentiment_values.head()

,Unnamed: 0,Arabic Term,Positive Count,Negative Count,Buckwalter index,Sentiment Score
0,0,Ø®ÙÙŠÙŠÙŠÙ,5,1,xfyyyf,0.988
1,1,Ø­Ø¸Ø¸,0,10,HZZ,-2.509
2,2,Ù…ÙˆÙ‚Ø§Ø¯Ø±Ù‡,1,7,mwqAdrh,-1.497
3,3,Ø²ÙØ±Ø©,0,6,zfrp,-2.057
4,4,Ø´Ø§Ù‡ÙŠ,98,104,$Ahy,-0.170

In [56]:
# trial = data['tweet'][0].split()
# for word in trial:
#     print(word in sentiment_values['Arabic Term'])

False
False
False
False
False
False
False
False
False
False
False

In [33]:
for tweet in data['tweet']:
    if type(tweet) == str:
        pos_count, neg_count = 0,0
        sentiment_score = 0.0
        for word in tweet.split():
            if type(word) == str:
                if word in sentiment_values['Arabic Term']:
                    print(word)
                    pos_count += sentiment_values.query(f'Arabic Term=={word}')['Positive Count']
                    neg_count += sentiment_values.query(f'Arabic Term=={word}')['Negative Count']
                    sentiment_score += sentiment_values.query(f'Arabic Term=={word}')['Sentiment Score']
        data['total_pos_count'] = pos_count
        data['total_neg_count'] = neg_count
        data['total_sentiment_score'] = sentiment_score

In [34]:
data.head(20)

    Unnamed: 0  ... total_sentiment_score
0            0  ...                   0.0
1            1  ...                   0.0
2            2  ...                   0.0
3            3  ...                   0.0
4            4  ...                   0.0
5            5  ...                   0.0
6            6  ...                   0.0
7            7  ...                   0.0
8            8  ...                   0.0
9            9  ...                   0.0
10          10  ...                   0.0
11          11  ...                   0.0
12          12  ...                   0.0
13          13  ...                   0.0
14          14  ...                   0.0
15          15  ...                   0.0
16          16  ...                   0.0
17          17  ...                   0.0
18          18  ...                   0.0
19          19  ...                   0.0

[20 rows x 8 columns]